{% extends "layout.html" %}
{% block body %}
<ul class=entries>
<li><h2>{{entry.title}}</h2>
<h4><i> {{ entry.subhed|safe }} </i></h4>
<p><b>Notes</b>: {{ entry.descript|safe }}</p>
<br><b>Date logged</b>: {{ entry.publishdate }} 
<b>Status</b>: {{ entry.status }}
<br>{% if entry.private == "Private" or entry.private=="private" %}
<font color="red">Private</font>
{% endif %}
{% if session.logged_in %}
<br>
<a href="/edit/{{ entry.slug }}.html">Edit this entry</a>
{% endif %}

<hr>
</ul>
{% endblock %}
