<!doctype html>
<title>Ideas</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1><a style="text-decoration:none" href="/">Ideas</a></h1>
  A place to think out loud
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %} {% endblock %}
  </div>
<div class=colophon>
Want to help? If you spot a bug, <a href="https://github.com/tommeagher/alva/issues">please file a ticket</a> so I can squash it.<br>
<a href="https://github.com/tommeagher/alva">Alva 0.5</a>, an open source <a href="http://www.python.org">Python</a> nano-blog built by <a href="http://www.tommeagher.com/">Tom Meagher</a> using <a href="http://flask.pocoo.org">Flask</a>, hosted on <a href="http://www.webfaction.com/">Webfaction</a>.
</div>