<!doctype html>
<title>Ideas</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Ideas</h1>
  A place to think out loud
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
      <a href="{{url_for('show_entries') }}">public</a> | <a href="{{ url_for('show_private_entries') }}">private</a> | <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %} {% endblock %}
  </div>
<div class=colophon>
<a href="https://github.com/tommeagher/alva">Open source</a> nano-blog built by <a href="http://www.tommeagher.com/">Tom Meagher</a> using <a href="http://flask.pocoo.org">Flask</a>, hosted on Webfaction.
</div>