<!doctype html>
<head>
<title>Ideas</title>
<link href="static/twitter-bootstrap/docs/assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen">
<link href="static/twitter-bootstrap/docs/assets/css/bootstrap-responsive.css" type="text/css" rel="stylesheet" media="screen">
<!-- <link href="{{ url_for('static', filename='bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen">-->
</head>
<body>
<div class="container">
<div class="row">
<div class="span12">
<center><h1><a style="text-decoration:none" href="/">Ideas</a></h1></center>
<center> <h3> A place to think out loud</h3></center>
</div>
</div>

<div class="row">
<div class="span2"></div>
<div class="span8">
<!-- <div class=page> -->


<div class="row3">
<!--  <div class=metanav> -->
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
<!--  </div> -->
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
</div>
{% block body %} {% endblock %}
</div>
</div>


<div class="row">
<div class="span12">
<div class=colophon>
<center><a href="{{ url_for('colophon') }}">Colophon</a></center>
</div>
</div></body></html>


</body>
</html>


