{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<h1>Private entries</h1>
<div style="float: right; margin: 10px">
 <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
   <dl>
   <dt>Title:
   <dd><input type=text size=30 name=title>
   <dt>Description:
   <dd><input type=text name=text></textarea>
   <dt>Publish date:
   <dd><input type=date name=publish>
   <dt>Status:
   <dd><input type=text name=status>
   <dt>Notes:
   <dd><input textarea name=notes>
   <dt>Public/Private:
   <dd><input type=text name=private value='private'>
      <dd><input type=submit value=Add>
   </dl>
  </form>
</div>
<ul class=entries>
{% for priventry in priventries %}
<li><h2><a href="entries/{{ priventry.slug }}.html">{{ priventry.title }}</a></h2>{{ priventry.text|safe }}<br>
<h3>{{priventry.private}}</h3>
<hr>
{% else %}
<li><em>Unbelievable. No entries here so far.</em>
{% endfor %}
</ul>
{% endif %}
{% endblock %}