{% extends "layout.html" %}
{% block body %}
<div class="container">

<div class="row">
<div class="span6">
{% if session.logged_in %}

{% for entry in entries %}
<h2><a href="entries/{{ entry.slug }}.html">{{ entry.title }}</a></h2>{{ entry.subhed|safe }}<br>
<h4>{{entry.private}}</h4>
<hr>
{% else %}
<em>Unbelievable. No entries here so far.</em>
{% endfor %}</div>
<div class="span3">
<div style="float: right; margin: 10px">
 <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
   <dl>
   <dt>Title:
   <dd><input type=text size=30 name=title>
   <dt>Description:
   <dd><input type=text name=subhed></textarea>
   <dt>Log date (mm-dd-yyyy):
   <dd><input type=date name=publishdate>
   <dt>Status:
   <dd><select name="status">
<option value="Mulling it over" selected>Mulling it over</option>
<option value="Rejected">Rejected</option>
<option value="In production">In production</option>
<option value="Published">Published</option></select>
   <dt>Notes:
   <dd><input textarea name=descript>
   <dt>Public/Private:
   <dd><select name="private">
<option value="Public" selected>Public</option>
<option value="Private">Private</option></select>
   <dd><input type=submit value=Add>
   </dl>
  </form>
  </div>
</div>


{% else %}
<div class="span6">
{% for entry in entries %}
{% if entry.private != "Private" and entry.private != "private" %}
<h2><a href="entries/{{ entry.slug }}.html">{{ entry.title }}</a></h2>{{ entry.subhed|safe }}
<hr>
{% endif %}
{% else %}
<em>Unbelievable. No entries here so far.</em>
{% endfor %}

{% endif %}
</div>
</div>
</div>
{% endblock %}