{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<h2>Public entries</h2>
<div style="float: right; margin: 10px"> <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
   <dl>
   <dt>Title:
   <dd><input type=text size=30 name=title>
   <dt>Description:
   <dd><input type=text name=subhed></textarea>
   <dt>Log date:
   <dd><input type=date name=publishdate>
   <dt>Status:
   <dd><select name="status">
<option value="Mulling it over" selected>Mulling it over</option>
<option value="In production">In production</option>
<option value="Published">Published</option></select>

   <dt>Notes:
   <dd><input textarea name=descript>
   <dt>Public/Private:
   <dd><select name="private">
<option value="Public" selected>Public</option>
<option value="Private">Private</option></select>

   <dd><input type=submit value=Add>
   </dl>
  </form>
  </div>
{% endif %}

<ul class=entries>
{% for entry in entries %}
<li><h2><a href="entries/{{ entry.slug }}.html">{{ entry.title }}</a></h2>{{ entry.subhed|safe }}
<hr>
{% else %}
<li><em>Unbelievable. No entries here so far.</em>
{% endfor %}
</ul>
{% endblock %}